
.mail_form_wrapper{
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #4d4d4d;
    box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.33);
    border-radius: 2px;
}
.mail_form_wrapper .contact-form{
    width: 100%;
    color: #2d2d2d;
    font-weight: 700;
}
.mail_form_wrapper .contact-form .head{
    width: 100%;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
    color: black;
    color: white;
} 
.mail_form_wrapper .contact-form .inputs {
    width: 100%;
}
.mail_form_wrapper .contact-form .inputs input{
    width: 100%;
    font-family: Arial;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
	color: #747474;
	padding: 20px 11px 10px;
	border-radius: 2px;
	margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    
}
.mail_form_wrapper .contact-form .inputs input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
..mail_form_wrapper .contact-form .message{
    width: 100%;   
}
.mail_form_wrapper .contact-form .message textarea{
    width: 100%;
    padding: 5px;
    resize: vertical;
    min-height: 200px;
    font-family: Arial;
    font-size: 1.2em;
    border: 1px solid #e8e8e8;
	color: #747474;
	padding: 20px 11px 10px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.mail_form_wrapper .contact-form input[type="submit"]{
    width: 100%;
    padding: 5px;
    background-color: #2c3e50;
    border-radius: 5px;
    min-height: 50px; 
    background-image: url("http://jrmeza514.github.io/img/icon/MailIcon.svg");
	border: 0 none;
	color: #ffffff;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
    background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

input:required{
    background-color: white;
}
textarea:invalid {
    background-color: white;
}
.mail_form_wrapper .contact-form input[type="submit"]{
    background-color: rgba(255, 48, 48, 0.91);   
}
.contact-form{
 overflow-x: hidden;   
}
