.home-section{
    background-image: url("http://www.globeimages.net/data/media/5/san_francisco_cityscape.jpg");
    height: 100%;
    width: 100%;
    background-size: cover; 
	background-position: center;
}