body, html{
	overflow:hidden;
	position:relative;
	height:100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}
a:active, a, a:visited, a:hover{
    background: inherit;
    color: inherit;
}
.page_wrapper{
	position:relative;
	height: 100%;
	width:100%;	
	overflow-y: scroll;
}
.dark_bg_mask{
	background-color: rgba(0,0,0,0.30);
	width: 100%;
	height: 100%;	
}
.hiddenheader{
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    font-family: Raleway, Arial, Arvo, Avenir;
    color: #2d2d2d;
   box-shadow:  0px 4px 15px rgba(0,0,0,0.07);
/*
    position: absolute;
    top: 0%;
    width: 100%;
*/
}
.hiddenheader .logo{
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
}
.hiddenheader .nav{
    display: inline-block;
    height: 100%;
    font-size: 1.2em;
    float: right;
}
.hiddenheader .nav .nav-item{
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.hiddenheader .nav .nav-item:hover{
    background-color: #e9e9e9;
}
.hiddenheader .content{
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding: 30px 0;   
}
section:nth-child(odd){
    background-color: rgb(246, 246, 246);
}