body, html{
	overflow:hidden;
	position:relative;
	height:100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}
a:active, a, a:visited, a:hover{
    background: inherit;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
*{
     -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
::selection{
    background-color: rgba(255, 48, 48, 0.91);   
}
.page_wrapper{
	position:relative;
	height: 100%;
	width:100%;	
	overflow-y: scroll;
}
#anim_bg{
	background-color: #4d4d4d;
	width: 100%;
	height: 100%;	
    transition: all 1s;
    padding: 5em 0em;
}
#anim_bg .logo{
    font-size: 3em;
    //color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    font-weight: bold;
    
}
.hiddenheader{
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    font-family: Raleway, Arial, Arvo, Avenir;
    color: #2d2d2d;
   box-shadow:  0px 4px 15px rgba(0,0,0,0.07);
/*
    position: absolute;
    top: 0%;
    width: 100%;
*/
}
.hiddenheader .logo{
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
}
.hiddenheader .nav{
    display: inline-block;
    height: 100%;
    font-size: 1.2em;
    float: right;
    transition: height 0s ease;   
}
.hiddenheader .nav .nav-item{
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.hiddenheader .nav .nav-item:hover{
    background-color: #e9e9e9;
}
.hiddenheader .content{
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
section{
    padding: 30px 0;   
}
section:nth-child(odd){
    background-color: rgb(246, 246, 246);
}
section .header{
    position: relative;
    height: 100px;
    text-align: center;
    vertical-align: text-bottom;
}
section .header .title{
    display: inline-block;
    padding: 20px;
    font-size: 2em;
    font-family: Raleway;
    font-weight: 900;
    vertical-align: top;
    margin-top: 0.3em;
}
section .header .icon{
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}

section .header .icon img{
    height: 100%;
    width: 100%;
}
section .body{
    padding: 2em; 
    display: block;
}
section .body .content{
    display: block;
    width: 90%;
    padding: 1em;
    background-color: rgba(255, 48, 48, 0.91);
    color: floralwhite;
    margin: auto;
}
section .body .content p{
    font-size: 1.5em;
    font-family: arial;
    font-weight: normal;
}
section .body .content p span.highlight{
    color:#4d4d4d;;
    font-weight: bold;
}
section .body .content p.not-available{
    text-align: center;   
}
section .body skills{
    display: block;
    width: 90%;
    margin: auto;
    padding: 1em;
    margin-top: 10px;
    background-color: white;
}
section .body skills .title{
    color: rgba(255, 48, 48, 0.91);
    font-size: 1.5em;
    font-weight: bold;
    font-family: arial;
}
section .body skills skill{
    display: inline-block;
    padding: 1em;
    background-color: rgba(255, 48, 48, 0.91);
    color: floralwhite;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
section .body .projects{
    width: 90%;
    padding: 1em;
    margin: auto;
    background-color: rgba(255, 48, 48, 0.91);
    color: floralwhite;
    font-family: arial;
    overflow-x: hidden;
}
section .body .projects .project{
    display: inline;
    margin: 5px;
}
section .body .projects .project .title{
    text-align: center;
    padding: 0.5em;
    font-size: 1.8em;
    color: #4d4d4d;
    font-weight: bold;
}
section .body .projects .project .description{
    font-size: 1.3em;   
}
@media screen and (max-width: 640px){
    .hiddenheader .nav{
        height: 0;
        position: absolute;
        display: block;
        right: 50px;
        top: 5px;
        background-color: #e9e9e9;
        z-index: 100000000000000000;
        overflow: hidden;
        transition: height 0.15s;
          
    }
    .hiddenheader .nav.visible{
        height: 247px;
    }
    .hiddenheader .nav .nav-item{
      display: block;
        padding: 20px;
        margin: 0;
    }
    .hiddenheader .nav .nav-item:hover{
        background-color: #fff;
    }
    .hiddenheader .nav-toggle{
        width: 40px;
        height: 40px;
        margin: 5px;
        position: absolute;
        right: 0px;
        top: 0px;
        background: #2d2d2d;
        cursor: pointer;
        border-radius: 5px;
    }
}
