@charset "utf-8";
#RegistrationSection{
	position: relative;
	margin-left:auto;
	margin-right: auto;
	width: 30%;
	max-width: 1000px;
	padding: 20px;
	background-color: rgba(18,9,9,0.80);
	border-radius: 5px;
	color: white;
}
#RegistrationSection *{
	position: relative;
	margin-left:auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;
}
#RegistrationSection .form-group input{
	display: inline-block;
	width: 49.4%;	
	margin-left: auto;
}
@media screen and (max-width: 1440px){
	#RegistrationSection{
		width: 50%;
	}
}
@media screen and (max-width: 920px){
	.registration-form-title{
		font-size: 3em;
	}
	#RegistrationSection{
		width: 70%;
	}
}
@media screen and (max-width: 620px){
	.registration-form-title{
		font-size: 2.2em;
	}
	#RegistrationSection{
		width: 90%; 
	}
	#RegistrationSection .form-group input{
	display: block;
		width: 100%;	
		margin-bottom: 15px;
	}
	#RegistrationSection .form-group:last-child{
		margin-bottom: 0px;	
	}
}
.page-header{
    opacity: 0.3;   
}
.page-header:hover{
    opacity: 1;
}