#Animation-Frame{
	position: relative;
}
#layer1{
	background-image: url("../img/multiplane_landscape.png");
	background-size: cover;
	background-position: 0% 20%;
}
.layer{
	position: absolute;
	width: 100%;
	height: 89.5%;
}
.cloud{
	background-image: url("../img/white-clouds-cloud-512.png");
	height: 90px;
	width: 100px;
	background-size: cover;
	background-position: 50% 20%;
	position: absolute;
}
#cloud1{
	top: 20px;
	left: 80%;
	-webkit-animation: cloud1 50s infinite;
}
#cloud2{
	top: 100px;
	left: 40%;
	-webkit-animation: cloud2 30s infinite;
}
#cloud3{
	top: 160px;
	left: 50%; 
	-webkit-animation: cloud3 30s infinite;
}
#cloud4{
	top: 200px;
	left: 10%;
	-webkit-animation: cloud4 20s infinite;
}
#cloud5{
	top: 250px; 
	left: 70%;
	-webkit-animation: cloud5 35s infinite;
}
@-webkit-keyframes cloud1{
	
	50%{
		left: 0%;
	}
}
@-webkit-keyframes cloud2{
	25%{
		left: 10%;	
	}
	75%{
		left: 80%;
	}
}
@-webkit-keyframes cloud3{
	
	50%{
		left: 0%;
	}
}
@-webkit-keyframes cloud4{
	
	50%{
		left: 80%;
	}
}
@-webkit-keyframes cloud5{
	25%{
		left: 80%;	
	}
	75%{
		left: 10%;
	}
}
#nuclear-plant{
	background-image: url("../img/ian-symbol-energy-nuclear-power-station.svg");
	height: 350px;
	width: 350px;
	background-size: cover; 
	top: 45%; 
	position: absolute;
}
.solar-panel{
	background-image: url("../img/solar-panel-hi.png");
	height: 80px;
	width: 160px;
	background-size: cover; 
	position: absolute;
}
#sp1{
	top: 50%;
	left: 80%;
}
#sp2{
	top: 40%;
	left: 70%;
}
#sun{
	background-image: url("../img/large_sun.png");
	position: absolute;
	height: 300px;
	width: 300px;
	background-size: cover;
}
.MessaegWrapper{
	font-family: Arial;
	margin-top: 10%;
	font-size: 5em;
	font-weight: bolder;
	padding: 10%; 
}
.MessaegWrapper .wordWrapper{
	padding: 20px;
}
.wordWrapper span{
	opacity: 0;
}
#ww1 span:nth-child(1){
	-webkit-animation: 1s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww1 span:nth-child(2){
	-webkit-animation: 2s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww1 span:nth-child(3){
	-webkit-animation: 3s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww1 span:nth-child(4){
	-webkit-animation: 4s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww1 span:nth-child(5){
	-webkit-animation: 5s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww1 span:nth-child(6){
	-webkit-animation: 6s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww2 span:nth-child(1){
	-webkit-animation: 7s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww2 span:nth-child(2){
	-webkit-animation: 7.5s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww2 span:nth-child(3){
	-webkit-animation: 8s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww2 span:nth-child(4){
	-webkit-animation: 8.5s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww2 span:nth-child(5){
	-webkit-animation: 9s center;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
#ww2 span:nth-child(6){
	-webkit-animation: 10s center; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@-webkit-keyframes center{ 
	100%{
		color: red;
		opacity: 1;
		text-shadow: 10px 10px 10px gold;
	}
}
/*header.page-header{
  position: absolute;  
 z-index: 1000;
}
*/

