body{
  margin: 0;   
}
#puzzleContainer{
    width: 50%;   
}

#box{
  float: right;
  width: 45%;
}
.inline{
  margin-left: 2px;
    display: inline-block;
}
.clearTop{
  margin-top: 20px;   
}
#acrossContainer, #downContainer, .title{
  width: 45%;   
  vertical-align: top;
}
@media screen and (max-width : 1300px)  { 
 #puzzleContainer{
   width: 100%;
  }
}
