body{
  margin: 0;   
}
#puzzleContainer{
    width: 50%;   
}

#box{
  float: right;
  width: 45%;
}
.inline{
  margin-left: 2px;
    display: inline-block;
}
.clearTop{
  margin-top: 20px;   
}
.hints{
    background-color: #e74c3c;
    text-align: center;
}
.hints .header{
    border: 7px solid  #c0392b;
}
#acrossContainer, #downContainer, .title{
  width: 45%;   
  vertical-align: top;
}
.cwTable caption{
    background-color: #e74c3c;
    font-weight: 900;
    font-family: Arial;
    font-size: 2em;
    padding: 3px;
    border: 7px solid #c0392b;
    margin-top: 20px;
}
@media screen and (max-width : 1300px)  { 
 #puzzleContainer{
   width: 100%;
     display: block;
  }
  #box{
    width: 90%;
    margin-left: 5%;
      float: none;
  }
     #downContainer{
        margin-left: 30px;
    }
    #acrossContainer{
        margin-left: 4%;
    }
 #puzzleContainer .cwTable{
    margin-left: auto;
    margin-right: auto;
 }
}
