.ironTriangleImage{
  height: 250px;
  width: 250px;
  background-color: white;
  background-image: url("http://jrmeza514.github.io/ap/gov/projects/1/it/img/it.jpg");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}
 
 
