.ironTriangleImage{
    height: 250px;
    width: 250px;
    background-color: white;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 73% 65%;
    background-image: url("http://jrmeza514.github.io/ap/gov/projects/1/it/img/it.jpg");
    border: 3px dashed black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.itComponent{
  background-color: #ecf0f1; 
    display: inline-block;
    width: 42%;
    margin: 40px 2% 0 4% ; 
    border: 7px  solid #2c3e50;
    border-top: 0px solid white;
    font-family: Arial;
    color: #2d2d2d;
    font-weight: 900;
    font-size: 1.2em;
}
.itComponent > .title{
    background-color: #e74c3c;
    width: 104%;
    margin-left: -3%;
    text-align: center;
    font-weight: 900;
    font-family: Arial;
    border: 7px solid #c0392b;
    font-size: 1.5em;
}
.item{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item .title{
    text-align: center;   
    font-size: 1.5em;
}
.item .itemDescription{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 900px){
    .itComponent{
        width: 80%; 
        margin: 0;
        margin-bottom: 20px;
        margin-left: 7%;
    }
}